.details-area{
        
    width: 30%;
    h4{
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;                        
        text-align: right;
        letter-spacing: 0.05em;
        
        color: var(--color-primary-orange);
        margin-bottom: 5px;
        text-transform: uppercase;
        @media(max-width:600px){
            margin: 20px;
            margin-left: 27%;

            width: 601px;
            font-size: 34px;
            
        }
        
    }
    .button-area1{
        padding-bottom: 5px;display: flex;height:32px;justify-content: flex-end;padding-top: 20px;margin-bottom: 12px;
            margin-left: 150px;
            @media(max-width:600px){
                margin-left: 50%;
                height: 100%;
                width: 214%;
                justify-content: space-between;
                
            }
        .star,.doi{

            margin-left:5px;
                         
            width:42px;
            height:31px;

            display:flex;
            justify-content: center;
            @media(max-width:600px){
                width: 84px;
                justify-content: space-around;

                height: 72px;
                width: 113px;
            }
        }
       
    }
    button:hover{
        background-color:#f98929;
        box-shadow: 1px 1px 5px #de6112;
        cursor: pointer;
        transition-timing-function: ease-in-out ;
        transition-duration: 0.5s;

    }
    button{
        @media(max-width:600px){
            
            font-size: 41px;
        }
        img{
            width: 19px;
            height: 19px;
            @media(max-width: 600px){
                width: 50px;
                height: 50px;
            }
        }
        box-sizing: border-box;
        background: var(--color-primary-orange);
        border-radius: 4px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        

        display: flex;
        align-items: center;
        text-align: center;

        border:none;

        color: #FFFFFF;

        border-radius: 4px;   
    }
}