.form-container{
    width: 90%;
    height: auto;
                    margin-left: 5%;
                    margin-right: 5%;
                    margin-top: -11px;

                    
                    display: none;
                    
                    
    h2{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
       

        text-align: center;

        color: #5C5C5C;
    }
    label{
        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        
    
                        color: #ED7839;
                        
    }
    input{
        margin-top: 1px;
        margin-bottom: 10px;
        background: #FFFFFF;
                        position: relative;
                        border: 1px solid #CCCCCC;
                        border-radius: 3px;font-family: 'Quicksand';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                       
                        width:99.3%;
                        height:39px;

                        color: #4D4D4D;
    }
    textarea{
        
        height: 80px;
                        width:99.3%;

                        border:none;
                        
                        color: #4D4D4D;
                        font-size: 14px;
                        font-family: 'Quicksand';
    }
    fieldset{
        margin-top: 4px;
        background: #FFFFFF;
                            border: 1px solid #CCCCCC;
                            border-radius: 3px;
                            
                            height: 120px;
        div{
            background: #EAF1F2;
                                        border: 1px solid #CCCCCC;
                                        border-radius: 0px 0px 4px 4px;
                                        margin-left: -13px;
                                        
                                        
                                        width: 102.7%;
                                        height: 31px;
                                        margin-top: 23px;
        }
    }
    button{
        width: 20%;
        height: 33px;
        background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
                                border-radius: 0px 0px 4px 0px;font-family: 'Quicksand';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 15px;
                                line-height: 16px;


                                text-align: center;

                                color: #FFFFFF;
    }
}