
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.title-1{
    
    color: #725C5C;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    line-height: 16px;

    margin-top: 17px;
    margin-bottom: 2px;

    @media(max-width: 600px){
        font-size: 38px;
        line-height: 32px;
    }
}
